/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600,700);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Container used for styling the custom select, the buttom class below adds the bg gradient, corners, etc. */
.custom-select {
  position: relative;
  height: 2rem;
  display: block;
  padding: 0;
  width: 100%; }

/* This is the native select, we're making everything but the text invisible so we can see the button styles in the wrapper */
.custom-select select {
  width: 100%;
  margin: 0;
  background: none;
  border: 1px solid transparent;
  outline: none;
  box-sizing: border-box;
  /* Remove select styling */
  appearance: none; }

/* Custom arrow sits on top of the select - could be an image, SVG, icon font, etc. or the arrow could just baked into the bg image on the select. Note this si a 2x image so it will look bad in browsers that don't support background-size. In production, you'd handle this resolution switch via media query but this is a demo. */
.custom-select::after {
  content: "";
  position: absolute;
  pointer-events: none; }

/* Hover style */
/* Focus style */
.custom-select select:focus {
  outline: none; }

/* ------------------------------------  */
/* START OF UGLY BROWSER-SPECIFIC HACKS */
/* ----------------------------------  */
/* OPERA - Pre-Blink nix the custom arrow, go with a native select button to keep it simple. Targeted via this hack http://browserhacks.com/#hack-a3f166304aafed524566bc6814e1d5c7 */
x:-o-prefocus, .custom-select::after {
  display: none; }

/* IE 10/11+ - This hides native dropdown button arrow so it will have the custom appearance, IE 9 and earlier get a native select - targeting media query hack via http://browserhacks.com/#hack-28f493d247a12ab654f6c3637f6978d5 - looking for better ways to achieve this targeting */
/* The second rule removes the odd blue bg color behind the text in the select button in IE 10/11 and sets the text color to match the focus style's - fix via http://stackoverflow.com/questions/17553300/change-ie-background-color-on-unopened-focused-select-box */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .custom-select select::-ms-expand {
    display: none; }
  .custom-select select:focus::-ms-value {
    background: transparent;
    color: #222; } }

/* FIREFOX won't let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container. The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We're applying this hack across all FF versions because all the previous hacks were too fragile and complex. You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren't clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e */
/* Show only the native arrow */
@-moz-document url-prefix() {
  .custom-select {
    overflow: hidden; }
  .custom-select select {
    width: 120%;
    width: -moz-calc(100% + 3em);
    width: calc(100% + em); } }

/* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
.custom-select select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000; }

/* ------------------------------------  */
/*  END OF UGLY BROWSER-SPECIFIC HACKS  */
/* ------------------------------------  */
body {
  width: 100%;
  height: 100%; }

.page {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0; }

@keyframes border-pulse {
  0% {
    box-shadow: 0 0 0 1rem rgba(255, 255, 255, 0.1), 0 0 0 2rem rgba(255, 255, 255, 0.15), 0 0 0 3rem rgba(255, 255, 255, 0.2); }
  50% {
    box-shadow: 0 0 0 1.25rem rgba(255, 255, 255, 0.1), 0 0 0 2.75rem rgba(255, 255, 255, 0.1), 0 0 0 4rem rgba(255, 255, 255, 0); }
  75% {
    box-shadow: 0 0 0 1.5rem rgba(255, 255, 255, 0.1), 0 0 0 3rem rgba(255, 255, 255, 0), 0 0 0 5rem rgba(255, 255, 255, 0); }
  100% {
    box-shadow: 0 0 0 1.75rem rgba(255, 255, 255, 0), 0 0 0 3.75rem rgba(255, 255, 255, 0), 0 0 0 6rem rgba(255, 255, 255, 0); } }

@keyframes invalid-input {
  0% {
    box-shadow: 0 0 0 0rem #ed4343; }
  100% {
    box-shadow: 0 0 0 0.5rem rgba(237, 67, 67, 0.2); } }

/* Have to set height explicity on ui-view 
to prevent collapsing during animation*/
[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.welcome [ui-view].ng-enter {
  opacity: 0; }

.occupation [ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: translate3d(0, -2000px, 0);
  -moz-transform: translate3d(0, -2000px, 0);
  transform: translate3d(0, -2000px, 0); }

.encounters [ui-view].ng-enter {
  -webkit-transform: translate3d(200px, 0, 0);
  -moz-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0); }

.alienen [ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: translate3d(-200px, 0, 0);
  -moz-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0); }

.welcome [ui-view].ng-enter-active {
  opacity: 1; }

.occupation [ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.encounters [ui-view].ng-enter-active {
  -opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.alienen [ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.welcome [ui-view].ng-leave {
  opacity: 1; }

.occupation [ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  -moz-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1); }

.encounters [ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.alienen [ui-view].ng-leave {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.welcome [ui-view].ng-leave-active {
  opacity: 0; }

.occupation [ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform: scale3d(0, 0, 0);
  -moz-transform: scale3d(0, 0, 0);
  transform: scale3d(0, 0, 0); }

.encounters [ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(-200px, 0, 0);
  -moz-transform: translate3d(-200px, 0, 0);
  transform: translate3d(-200px, 0, 0); }

.alienen [ui-view].ng-leave-active {
  opacity: 0;
  -webkit-transform: translate3d(200px, 0, 0);
  -moz-transform: translate3d(200px, 0, 0);
  transform: translate3d(200px, 0, 0); }

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  color: #ed4343; }

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #ed4343;
  opacity: 1; }

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #ed4343;
  opacity: 1; }

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #ed4343; }

.custom-select {
  height: 2.5rem;
  background: white; }
  .custom-select select {
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 0.5rem;
    font-family: 'Raleway';
    height: 60px; }
  .custom-select select.placeholder {
    color: #ed4343; }

.one {
  background-color: red;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }

.one h1 {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: bold;
  font-family: 'Raleway'; }

.one h2 {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: 'Raleway'; }

.pulse {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: white;
  animation: border-pulse 3s infinite; }

.total {
  width: 100%;
  box-align: center; }

.validity input.ng-invalid, .validity select.ng-invalid {
  border-radius: 0;
  animation: invalid-input 0.5s infinite; }

.two {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: black;
  align-items: center;
  width: 100%;
  font-family: 'Raleway'; }

.inputs {
  display: flex;
  flex-direction: column;
  border: none;
  width: 100%; }

.two h1 {
  color: white;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  padding: 5% 0;
  font-weight: bold; }

.inputs input {
  width: 100%;
  height: 35px;
  font-family: 'Raleway';
  font-size: 1rem; }

.inputs select {
  width: 100%;
  height: 45px; }

.myForm {
  width: 90%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  padding: 0 0.5rem; }

.check {
  width: 100%; }

fieldset {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%; }

fieldset button {
  width: 100%;
  padding: 10px;
  background-color: #ed4343;
  color: white;
  font-size: 1.3rem;
  height: 60px;
  border: none; }

.recent {
  font-family: 'Raleway';
  width: 90%;
  text-align: center;
  font-weight: bold;
  margin: 30px; }

.recent h1 {
  font-size: 2.5rem; }

.three p {
  margin: 10px;
  font-family: 'Raleway'; }

.para {
  margin: 20px 20px;
  height: 50vh; }

.alien {
  width: 100%;
  height: 200px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-around; }

.safety {
  font-family: 'Raleway';
  width: 90%;
  text-align: center;
  font-weight: bold;
  margin: 30px;
  color: white;
  text-align: center; }

.safety h1 {
  font-size: 2.5rem; }

.four {
  background-color: black;
  height: 100%; }

.alien-select {
  height: 2.5rem;
  background: white; }
  .alien-select select {
    font-size: 1rem;
    line-height: 2rem;
    padding-left: 0.5rem;
    font-family: 'Raleway';
    height: 40px;
    width: 95%; }
  .alien-select select.alientype {
    color: #ed4343; }

.aliens textarea {
  width: 200vh;
  height: 200px;
  font-family: 'Raleway';
  font-size: 1rem;
  margin-top: 20px;
  resize: none; }

.aliens select {
  width: 200vh;
  height: 45px; }

.aliens button {
  width: 200vh;
  padding: 10px;
  background-color: #ed4343;
  color: white;
  font-size: 1.2rem;
  font-family: 'Raleway';
  height: 60px;
  margin-top: 100px;
  border: none; }

.alienValidity select.ng-invalid, .alienValidity textarea.ng-invalid {
  border-radius: 0;
  animation: invalid-input 0.5s infinite; }

.four {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: black;
  width: 100%; }

.aliens {
  display: flex;
  height: 100vh;
  flex-direction: column;
  background-color: black;
  width: 100%;
  align-items: center; }

.alien button {
  width: 200vh;
  padding: 10px;
  background-color: #ed4343;
  color: white;
  font-size: 1.3rem;
  height: 60px;
  border: none; }

a {
  text-decoration: none;
  color: white; }
